In [1]:
# installing dependencies
import pandas as pd
import numpy as np
from matplotlib.pyplot import plot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('food_orders_new_delhi.csv',index_col=False)

Aim:
1. Detailed Cost Analyis
2. Prfibility Evaluation 
3. Strategy Recommendations
4. Impact simulation of Proposed Strategies

In [4]:
#! basic data manipulation 
data.head()

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
0,1,C8270,R2924,2024-02-01 01:11:52,2024-02-01 02:39:52,1914,0,Credit Card,5% on App,150,47,0
1,2,C1860,R2054,2024-02-02 22:11:04,2024-02-02 22:46:04,986,40,Digital Wallet,10%,198,23,0
2,3,C6390,R2870,2024-01-31 05:54:35,2024-01-31 06:52:35,937,30,Cash on Delivery,15% New User,195,45,0
3,4,C6191,R2642,2024-01-16 22:52:49,2024-01-16 23:38:49,1463,50,Cash on Delivery,NaN,146,27,0
4,5,C6734,R2799,2024-01-29 01:19:30,2024-01-29 02:48:30,1992,30,Cash on Delivery,50 off Promo,130,50,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order ID                1000 non-null   int64
 1   Customer ID             1000 non-null   object
 2   Restaurant ID           1000 non-null   object
 3   Order Date and Time     1000 non-null   object
 4   Delivery Date and Time  1000 non-null   object
 5   Order Value             1000 non-null   int64
 6   Delivery Fee            1000 non-null   int64
 7   Payment Method          1000 non-null   object
 8   Discounts and Offers    815 non-null    object
 9   Commission Fee          1000 non-null   int64
 10  Payment Processing Fee  1000 non-null   int64
 11  Refunds/Chargebacks     1000 non-null   int64
dtypes: int64(6), object(6)
memory usage: 93.9+ KB

In [6]:
# fixing the data types
from datetime import datetime

data['Order Date and Time'] = pd.to_datetime(data['Order Date and Time'])
data['Delivery Date and Time'] = pd.to_datetime(data['Delivery Date and Time'])

In [7]:
# cleaning the data using the functions
# extracting the value from the discount 
def extract_discount_value(discount_str):
    if '%' in discount_str:
        discount_value = discount_str.split(' ')[0]
        return float(discount_value)
    elif 'off' in discount_str:
        discount_value = discount_str.split(' ')[0]
        return float(discount_value)
    else:
        return float(0)

In [ ]:
data['Discount Percentage'] = data['Discounts and Offers'].apply(lambda x: extract_discount_value(x))